<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <div class="container">
      <h1>Create Book</h1>

      <form action="/books" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" name="price" />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" name="description">
No description added</textarea
          >
        </div>

        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            id="inputGroupFile02"
            name="photo"
          />
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <% if(error){ %>
      <h4 class="error"><%= error %></h4>
      <% } %>
    </div>

    <%- include("./partials/scripts.ejs") %>
  </body>
</html>
