<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
      repellendus ipsum eum necessitatibus corporis eius nostrum nulla, modi
      explicabo qui aut quia commodi. Dicta laudantium, libero porro aliquam
      animi vel!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla assumenda
      rerum asperiores nobis error fuga, molestiae a laudantium vel cupiditate
      facere, in illo deserunt atque voluptas veniam dicta, veritatis vero!
    </p>
  </body>
</html>
