<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <h1 class="bg-red">Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque maiores
      quia necessitatibus quo architecto cum aliquam obcaecati molestiae iure
      veniam impedit voluptas cupiditate a expedita, ea repudiandae laboriosam
      nisi nam quidem? Molestiae sunt aliquid commodi voluptatibus. Sint
      consequuntur voluptate consequatur atque numquam quidem porro! Illum
      eligendi iste corporis molestias! Corrupti vitae quo molestiae! Provident
      adipisci perspiciatis iure earum quos eaque, minus temporibus, nesciunt
      esse iste hic quae porro illum ex quia eveniet fugiat voluptatibus eum,
      eos ipsa consectetur obcaecati doloribus.
    </p>
    <img src="assets/laptop.jpg" alt="laptop" />

    <%- include("./partials/scripts.ejs") %>
  </body>
</html>
